.projects{
    width: 100vw;
display: flex;
flex-direction: column;
align-items: center;
background-color: #f5f3e8;
}
  .all-projects{
    margin: 0 auto;
    width: 86%;
    display: grid;
  grid-template-columns: auto auto auto;
  }
/* Card Container */
.card {
  border: 1px solid #00e6b8;
  border-radius: 8px;
  height: 446px;
  width: 360px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
  box-shadow: 0 1px 10px rgba(9, 236, 214, 0.2);
}

/* Card Content */
.card-content {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SVG Styling */
.card-content img {
  margin-top: -1.7rem;
  width: 75%;
  height: auto;
  max-height: 270px;
}

/* Card Footer */
.card-footer {
  margin: 0 -2rem -2rem -2rem;
  border-top: 1px solid #00e6b8;
  font-size: 20px;
  padding: 0.7rem 0;
}
.card-footer a{
  color: #4e4e4e;
  font-weight: 500;
}

/* Hover Effect */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 10px rgba(0, 238, 215, 0.2);
}
.card-footer a:hover{
  color: #17b898;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .card {
    width: 100%;
    height: auto;
  }

  .card-content {
    font-size: 16px;
  }

  .card-footer {
    font-size: 16px;
  }
}

.projects-btn{ 
    display: flex;
 align-items: center; 
 justify-content: center; 
 color:#000;
 padding:13px 18px;
 border-radius:8px;
 border:1px solid black;
 font-weight:700;
  margin-top:3.5rem;
  font-size:18px;
}
.projects-btn:hover {
   background-color: #000;
   color: #fff;
   border:1px solid #646cff;
 }

/* dark mode css */

.dark {
    background-color: #1a1a1a;
    color: white;
  }
.dark .card, .dark .card-content {
  background-color: rgb(148, 147, 147);
}
.dark .card-footer a{
  color: white;
}
.dark .card-footer a:hover{
  color: #17b898;
}

  .dark .projects-btn {
    background-color: white;
    color:#1a1a1a;
  }
  .dark .projects-btn:hover {
    background-color: #0a0a0a;
    color: white;
    border:1px solid #646cff;
  }